
.square
{
    float:left;
    width: 25px;
    height:25px;
}
.crossfit{background:red;}
.streach{background:orange;}
.yoga{background:green;}

.dropbtn {
    background: linear-gradient(to left,#00223E  , #FFA17F);
    position: absolute;
    height: 50px;
    width: 250px;
    text-align: center;
    font-size: 35px;
    vertical-align: middle;
    line-height: 48px; 
    color:white;
    border: 1px solid #bbb;
    border-radius: 5px;
    
}

.dropdown {
    cursor: pointer;
    position:relative;
    margin:auto;
    width: 250px;
    height:250px;
    /*background: red;*/
/*    position: relative;
    display: inline-block;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to left, #FFA17F , #00223E);
    margin-top:50px;
    height:80%;
    width: 250px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-content a {
    cursor: pointer;
    color: #00223E;
    height: 50px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size:26px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}/*

*/.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.open-btn{}
.cross-btn{}
.yoga-btn{}
.streach-btn{}