
/*.container {
    width: 100%;
}*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    font-family: Calibri sans serif;
}
#header
{
    position:relative;
    font-size: 35px;
    width: 100%;
    height:50px;
    background: #00223E;
    margin: 0 auto;
    z-index: 1000;
    
}
.header-logo
{
    float:left;
    margin-left:20px;
    color:white;
    letter-spacing: 4px;
}
.header-logo__link
{
    text-decoration: none;
    color: white;
    
}
span
{
    font-size:40px; 
   
}
button
{
    margin-top: 4px;
    margin-right: 20px;
    float:right;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 300;
    height: 1.5em;
    letter-spacing: 0.25em;
    line-height: 1.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
button:hover
{
    
}
#container
{
    float:left;
    width: 100%;
    height:600px;
}

.banner
{ 
    position:relative;
    width: 100%;
    height: 500px;
    background: url("/img/forfiter_logop.png") center center  no-repeat;
}
.bg--gradient
{
    width: 100%;
    height: 100%;
    background: #FFA17F;  
    background: -webkit-linear-gradient(to left, #FFA17F , #00223E);  
    background: linear-gradient(to left, #FFA17F , #00223E);
}

@media (min-width: 800px) {
.header-buttons {display:block;}
}
@media (max-width: 800px) {
.header-buttons 
{
    margin-top: 8px;
    float:right;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: 100;
    height: 1.5em;
    letter-spacing: 0.25em;
    line-height: 1.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
}

.titles
{
    float:left;
    height: 1200px;
    width: 100%;
    /*background:rgba(0,0,0,0.8);*/
}
.title
{
    float:left;
    height: 400px;
    width: 50%;
    /*background:yellow;*/
}
.title-content_1{float:left; position: relative; width: 100%;height: 100%; background-color: #6fc3df;}
.title-content_2{float:left; position: relative; width: 100%;height: 100%; background-color: #8d82c4;}
.title-content_3{float:left; position: relative; width: 100%;height: 100%; background-color: #ec8d81;}
.title-content_4{float:left; position: relative; width: 100%;height: 100%; background-color: #e7b788;}
